{% extends "C:\Users\Leisa\Downloads\ProyectoFinal-20220526T004057Z-001\ProyectoFinal\ProyectoBlog\BlogViajes\templates\index.html" %}

{% load static %}

{% block contenidoDinamico %}
        
    {% if viajes %}
        <div class="cuadricula"> 
            {% for viaje in viajes %}
                <div class="entrada">
                    <div class="contenido">
                        <p>{{ viaje.Destino }}</p>
                        <img src='{{ viaje.Imagen }}' id="imagen">
                        <p>{{ viaje.Reseña }}</p>
                        <p>{{ viaje.Autor }}</p>
                    </div>    
                </div>
            {% endfor %}
        </div>
        
    {% endif %}
{% endblock %}